.container {
  background-color: yellow;
  display: flex;
  /* column hang doc */
  flex-direction: row;
  /* justify-content: space-between; */
  /* gap: 24px; */
  align-items: center;
  /* align-content: center; */

  height: 800px;
}
