.bgColor {
  width: 100%;
  height: 1500px;
  /* background-image: url(https://cdn.shopify.com/s/files/1/0624/1746/9697/files/siberian-husky-100800827-2000-9449ca147e0e4b819bce5189c2411188_600x600.jpg?v=1690185264); */
  background-image: linear-gradient(
      0,
      rgba(255, 255, 255, 0),
      rgba(0, 0, 255, 0.5)
    ),
    url(https://cdn.shopify.com/s/files/1/0624/1746/9697/files/siberian-husky-100800827-2000-9449ca147e0e4b819bce5189c2411188_600x600.jpg?v=1690185264);
  background-repeat: no-repeat;
  /* gia tri tuyet doi */
  background-size: 100%;
  /* lap lai theo chieu doc */
  background-repeat: repeat-y;
  /* keyword */
  background-size: cover;
}
.bgPosition {
  width: 100%;
  height: 500px;
  background-image: url(https://cdn.shopify.com/s/files/1/0624/1746/9697/files/siberian-husky-100800827-2000-9449ca147e0e4b819bce5189c2411188_600x600.jpg?v=1690185264);
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: 200px;
  background-position: bottom right;
  background-position: 50px 10px;
}
h1 {
  /* position: relative; */
  top: 40px;
  left: 40px;
  /* chi hoat dong khi co position */
}
.parent {
  width: 100%;
  height: 500px;
  background-color: blue;
  /* kho co position no se lay theo thang co position, con neu ko co thi no se lay theo the lon hon gan nhat */
  position: relative;
}
.child {
  width: 50px;
  height: 50px;
  background-color: brown;
  position: absolute;
  top: 10px;
}
